name: Release

permissions: {}

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: version without leading `v`

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [windows, linux, darwin]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # required for git am --3way to work properly
          submodules: true
          persist-credentials: false

      - uses: ./.github/actions/setup

      - name: Build binaries
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: just build

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: tsgolint-${{ matrix.goos }}-${{ matrix.goarch }}
          path: tsgolint

  publish:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write # for softprops/action-gh-release
      id-token: write # for `pnpm publish --provenance`
    steps:
      - name: Checkout repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: oxc-project/setup-node@141eb77546de6702f92d320926403fe3f9f6a6f2 # v1.0.5

      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: tsgolint-*
          path: build

      - name: chmod +x
        run: find build -type f -name tsgolint -exec chmod +x {} \;

      - name: Generate npm packages
        env:
          TSGOLINT_VERSION: ${{ inputs.version }}
        run: node ./tools/gen-npm-packages.mjs

      - run: npm install -g npm@latest # For trusted publishing support

      - name: Publish
        run: |
          for package in npm/*; do
            pushd "$package"
            npm publish --provenance --access public
            popd
          done

      - name: Create GitHub Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          draft: false
          name: v${{ inputs.version }}
          tag_name: v${{ inputs.version }}
          target_commitish: ${{ github.sha }}
          generate_release_notes: true
