name: Update typescript-go

permissions: {}

on:
  push:
    branches:
      - renovate/typescript-go-*
    paths:
      - typescript-go

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # required for git am --3way to work properly
          submodules: true
          persist-credentials: true
          # Using secrets.GITHUB_TOKEN isn't allowed to trigger downstream
          # workflow runs, so we're using a Personal Access Token (PAT) instead
          token: ${{ secrets.OXC_BOT_PAT }}

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Set committer identity
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions"

      - shell: bash
        run: |
          mkdir -p internal/collections
          find ./typescript-go/internal/collections -type f ! -name '*_test.go' -exec cp {} internal/collections/ \;

      - run: ./tools/update-typescript-go-shims.sh

      - name: Check for changes
        id: check_changes
        run: |
          if ! git diff --staged --quiet; then
            echo 'has_changes=true' >> "$GITHUB_OUTPUT"
          fi

      - name: Push changes
        if: steps.check_changes.outputs.has_changes == 'true'
        run: |
          git commit -m "update typescript-go"
          git push
